body {
  background-color: #E5E8EB;
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  :focus {
    outline: none !important;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
}
